@model vidRent.ViewModels.CustomerDetailsViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer Details</h2>
@if (Model.CustDetail.Name != null)
{
    
    <p>@Model.CustDetail.Name</p>
}
else
{
    <P> Invalid Customer </P>
}

